:root {
  --mainRed: #fe4a49;
  --mainBlue: #2ab7ca;
  --mainYellow: #fed766;
  --mainGrey: #e6e6ea;
  --offWhite: #f4f4f8;
}

.btn-primary {
}

.login-container {
  position: absolute;
  right: 0;
  top: 15vh;
  border: 1px solid var(--mainGrey);
  margin-right: 2rem;
}

.login-container input {
  border: 1px solid var(--mainGrey);
  margin: 1rem 1rem;
}

.error {
  display: flex;
  text-align: center;
  align-items: center;
}
